/*
Alex Shornal
styles.css
This is the css for the home page of the dating site.
1/19/17
 */
.image{
    border-radius: 10px;
    width: 640px;
    height: 450px;

}
p.italic {
    font-style: italic;
}
#bold {
    font-weight: bold;
}
body{
    padding-top: 80px;
}
#navigation-bar {
    border: 2px solid;
    background-color: #D0D3D4;
}
#note {
    border-radius: 10px;
    border: 2px solid darkgray;
    background:Gainsboro;
    padding: 20px;
    width: 400px;
    height: 125px;
}
#policy {
    color: #0066ff;
}
